celery
kombu
tornado
werkzeug
pyspark
SQLAlchemy
wtforms
apache-airflow==2.5.1
apache-airflow-providers-apache-spark
apache-airflow-providers-ssh
requests
pyyaml
pyarrow
fastparquet
matplotlib
pandas
kaleido
plotly
python-dotenv